<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- head -->
<div th:replace="fragments/general.html :: head"></div>

<body>

	<div id="page">

		<div th:replace="fragments/general.html :: header"></div>
		<!-- /header -->

		<main>
			<!-- Slider -->
			<div id="full-slider-wrapper">
				<div id="layerslider" style="width:100%;height:750px;">
					<!-- first slide -->
					<div class="ls-slide" data-ls="slidedelay: 5000; transition2d:85;">
						<img src="/img/backhome.png" class="ls-bg" alt="Slide background">
						<h3 class="ls-l slide_typo" style="top: 47%; left: 50%;" data-ls="offsetxin:0;durationin:2000;delayin:1000;easingin:easeOutElastic;rotatexin:90;transformoriginin:50% bottom 0;offsetxout:0;rotatexout:90;transformoriginout:50% bottom 0;">Welcome
							to <strong>MQL-ELEARNING</strong> Platform</h3>
						<p class="ls-l slide_typo_2" style="top:55%; left:50%;" data-ls="durationin:2000;delayin:1000;easingin:easeOutElastic;">
							Increase your expertise in technology
						</p>
						<a class="ls-l btn_1 rounded" style="top:65%; left:50%;white-space: nowrap;" data-ls="durationin:2000;delayin:1400;easingin:easeOutElastic;"
						 href='courses-grid.html'>Voir Plus</a>
					</div>
				</div>
			</div>
			<!-- End layerslider -->

			<div class="features clearfix">
				<div class="container">
					<ul>
						<li><i class="pe-7s-study center"></i>
							<h4>+20 Formations</h4><span>Explore a variety of fresh topics</span>
						</li>
						<li><i class="pe-7s-cup"></i>
							<h4>Enseignants experimentés</h4><span>Find the right instructor for you</span>
						</li>
						<li><i class="pe-7s-target"></i>
							<h4>Focus on target</h4>
						</li>
					</ul>

				</div>
			</div>
			<!-- /features -->
			<div class="container-fluid margin_120_0">
				<div class="main_title_2">
					<span><em></em></span>
					<h2>MQL-ELEARNING Formations</h2>
				</div>
				<div id="reccomended" class="owl-carousel owl-theme">
					<div class="item">
						<div class="box_grid">
							<figure>
								<a href="course-detail.html">
									<div class="preview"><span>Voir Plus</span></div><img src="http://via.placeholder.com/800x533/ccc/fff/course__list_1.jpg"
									 class="img-fluid" alt="">
								</a>
							</figure>
							<div class="wrapper">
								<small>Informatique</small>
								<h3>Persius delenit has cu</h3>
								<p>Id placerat tacimates definitionem sea, prima quidam vim no. Duo nobis persecuti cu.</p>
							</div>
							<ul>
								<li></li>
								<li><a href="course-detail.html">Inscrire</a></li>
							</ul>
						</div>
					</div>
					<!-- /item -->
					<div class="item">
						<div class="box_grid">
							<figure>
								<a href="course-detail.html">
									<div class="preview"><span>Voir Plus</span></div><img src="http://via.placeholder.com/800x533/ccc/fff/course__list_1.jpg"
									 class="img-fluid" alt="">
								</a>
							</figure>
							<div class="wrapper">
								<small>Informatique</small>
								<h3>Persius delenit has cu</h3>
								<p>Id placerat tacimates definitionem sea, prima quidam vim no. Duo nobis persecuti cu.</p>
							</div>
							<ul>
								<li></li>
								<li><a href="course-detail.html">Inscrire</a></li>
							</ul>
						</div>
					</div>
					<!-- /item -->
					<div class="item">
						<div class="box_grid">
							<figure>
								<a href="course-detail.html">
									<div class="preview"><span>Voir Plus</span></div><img src="http://via.placeholder.com/800x533/ccc/fff/course__list_1.jpg"
									 class="img-fluid" alt="">
								</a>
							</figure>
							<div class="wrapper">
								<small>Informatique</small>
								<h3>Persius delenit has cu</h3>
								<p>Id placerat tacimates definitionem sea, prima quidam vim no. Duo nobis persecuti cu.</p>
							</div>
							<ul>
								<li></li>
								<li><a href="course-detail.html">Inscrire</a></li>
							</ul>
						</div>
					</div>
					<!-- /item -->
					<div class="item">
						<div class="box_grid">
							<figure>
								<a href="course-detail.html">
									<div class="preview"><span>Voir Plus</span></div><img src="http://via.placeholder.com/800x533/ccc/fff/course__list_1.jpg"
									 class="img-fluid" alt="">
								</a>
							</figure>
							<div class="wrapper">
								<small>Informatique</small>
								<h3>Persius delenit has cu</h3>
								<p>Id placerat tacimates definitionem sea, prima quidam vim no. Duo nobis persecuti cu.</p>
							</div>
							<ul>
								<li></li>
								<li><a href="course-detail.html">Inscrire</a></li>
							</ul>
						</div>
					</div>
					<!-- /item -->
					<div class="item">
						<div class="box_grid">
							<figure>
								<a href="course-detail.html">
									<div class="preview"><span>Voir Plus </span></div><img src="http://via.placeholder.com/800x533/ccc/fff/course__list_1.jpg"
									 class="img-fluid" alt="">
								</a>
							</figure>
							<div class="wrapper">
								<small>Informatique</small>
								<h3>Persius delenit has cu</h3>
								<p>Id placerat tacimates definitionem sea, prima quidam vim no. Duo nobis persecuti cu.</p>
							</div>
							<ul>
								<li></li>
								<li><a href="course-detail.html">Inscrire</a></li>
							</ul>
						</div>
					</div>!
					<!-- /item -->
					<div class="item">
						<div class="box_grid">
							<figure>
								<a href="course-detail.html">
									<div class="preview"><span>Voir Plus</span></div><img src="http://via.placeholder.com/800x533/ccc/fff/course__list_1.jpg"
									 class="img-fluid" alt="">
								</a>
							</figure>
							<div class="wrapper">
								<small>Informatique</small>
								<h3>Persius delenit has cu</h3>
								<p>Id placerat tacimates definitionem sea, prima quidam vim no. Duo nobis persecuti cu.</p>
							</div>
							<ul>
								<li></li>
								<li><a href="course-detail.html">Inscrire</a></li>
							</ul>
						</div>
					</div>
					<!-- /item -->
				</div>
				<!-- /carousel -->
				<div class="container">
					<p class="btn_home_align"><a href="courses-grid.html" class="btn_1 rounded">Voir toutes les formations</a></p>
				</div>
				<!-- /container -->
				<hr>
			</div>
			<!-- /container -->

			<div class="container margin_30_95">
				<div class="main_title_2">
					<span><em></em></span>
					<h2>Les Categories</h2>
					<p>Cum doctus civibus efficiantur in imperdiet deterruisset.</p>
				</div>
				<div class="row">
					<div class="col-lg-4 col-md-6 wow" data-wow-offset="150">
						<a href="#0" class="grid_item">
							<figure class="block-reveal">
								<div class="block-horizzontal"></div>
								<img src="http://via.placeholder.com/800x533/ccc/fff/course_1.jpg" class="img-fluid" alt="">
								<div class="info">
									<small><i class="ti-layers"></i>2 Formations</small>
									<h3>Arts and Humanities</h3>
								</div>
							</figure>
						</a>
					</div>
					<!-- /grid_item -->
					<div class="col-lg-4 col-md-6 wow" data-wow-offset="150">
						<a href="#0" class="grid_item">
							<figure class="block-reveal">
								<div class="block-horizzontal"></div>
								<img src="http://via.placeholder.com/800x533/ccc/fff/course_2.jpg" class="img-fluid" alt="">
								<div class="info">
									<small><i class="ti-layers"></i>3 Formations</small>
									<h3>Engineering</h3>
								</div>
							</figure>
						</a>
					</div>
					<!-- /grid_item -->
					<div class="col-lg-4 col-md-6 wow" data-wow-offset="150">
						<a href="#0" class="grid_item">
							<figure class="block-reveal">
								<div class="block-horizzontal"></div>
								<img src="http://via.placeholder.com/800x533/ccc/fff/course_3.jpg" class="img-fluid" alt="">
								<div class="info">
									<small><i class="ti-layers"></i>2 Formations</small>
									<h3>Architecture</h3>
								</div>
							</figure>
						</a>
					</div>
					<!-- /grid_item -->
					<div class="col-lg-4 col-md-6 wow" data-wow-offset="150">
						<a href="#0" class="grid_item">
							<figure class="block-reveal">
								<div class="block-horizzontal"></div>
								<img src="http://via.placeholder.com/800x533/ccc/fff/course_4.jpg" class="img-fluid" alt="">
								<div class="info">
									<small><i class="ti-layers"></i>5 Formations</small>
									<h3>Science and Biology</h3>
								</div>
							</figure>
						</a>
					</div>
					<!-- /grid_item -->
					<div class="col-lg-4 col-md-6 wow" data-wow-offset="150">
						<a href="#0" class="grid_item">
							<figure class="block-reveal">
								<div class="block-horizzontal"></div>
								<img src="http://via.placeholder.com/800x533/ccc/fff/course_5.jpg" class="img-fluid" alt="">
								<div class="info">
									<small><i class="ti-layers"></i>7 Formations</small>
									<h3>Law and Criminology</h3>
								</div>
							</figure>
						</a>
					</div>
					<!-- /grid_item -->
					<div class="col-lg-4 col-md-6 wow" data-wow-offset="150">
						<a href="#0" class="grid_item">
							<figure class="block-reveal">
								<div class="block-horizzontal"></div>
								<img src="http://via.placeholder.com/800x533/ccc/fff/course_6.jpg" class="img-fluid" alt="">
								<div class="info">
									<small><i class="ti-layers"></i>6 Formations</small>
									<h3>Medical</h3>
								</div>
							</figure>
						</a>
					</div>
					<!-- /grid_item -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->

			<div class="bg_color_1">
				<div class="container margin_120_95">
					<div class="main_title_2">
						<span><em></em></span>
						<h2>Articles</h2>
					</div>
					<div class="row">
						<div class="col-lg-6">
							<a class="box_news" href="#0">
								<figure><img src="http://via.placeholder.com/500x333/ccc/fff/news_home_1.jpg" alt="">
									<figcaption><strong>28</strong>Dec</figcaption>
								</figure>
								<ul>
									<li>Mark Twain</li>
									<li>20.11.2017</li>
								</ul>
								<h4>Pri oportere scribentur eu</h4>
								<p>Cu eum alia elit, usu in eius appareat, deleniti sapientem honestatis eos ex. In ius esse ullum vidisse....</p>
							</a>
						</div>
						<!-- /box_news -->
						<div class="col-lg-6">
							<a class="box_news" href="#0">
								<figure><img src="http://via.placeholder.com/500x333/ccc/fff/news_home_2.jpg" alt="">
									<figcaption><strong>28</strong>Dec</figcaption>
								</figure>
								<ul>
									<li>Jhon Doe</li>
									<li>20.11.2017</li>
								</ul>
								<h4>Duo eius postea suscipit ad</h4>
								<p>Cu eum alia elit, usu in eius appareat, deleniti sapientem honestatis eos ex. In ius esse ullum vidisse....</p>
							</a>
						</div>
						<!-- /box_news -->
						<div class="col-lg-6">
							<a class="box_news" href="#0">
								<figure><img src="http://via.placeholder.com/500x333/ccc/fff/news_home_3.jpg" alt="">
									<figcaption><strong>28</strong>Dec</figcaption>
								</figure>
								<ul>
									<li>Luca Robinson</li>
									<li>20.11.2017</li>
								</ul>
								<h4>Elitr mandamus cu has</h4>
								<p>Cu eum alia elit, usu in eius appareat, deleniti sapientem honestatis eos ex. In ius esse ullum vidisse....</p>
							</a>
						</div>
						<!-- /box_news -->
						<div class="col-lg-6">
							<a class="box_news" href="#0">
								<figure><img src="http://via.placeholder.com/500x333/ccc/fff/news_home_4.jpg" alt="">
									<figcaption><strong>28</strong>Dec</figcaption>
								</figure>
								<ul>
									<li>Paula Rodrigez</li>
									<li>20.11.2017</li>
								</ul>
								<h4>Id est adhuc ignota delenit</h4>
								<p>Cu eum alia elit, usu in eius appareat, deleniti sapientem honestatis eos ex. In ius esse ullum vidisse....</p>
							</a>
						</div>
						<!-- /box_news -->
					</div>
					<!-- /row -->
					<p class="btn_home_align"><a href="blog.html" class="btn_1 rounded">Voir toutes les articles</a></p>
				</div>
				<!-- /container -->
			</div>
			<!-- /bg_color_1 -->

			<div class="call_section">
				<div class="container clearfix">
					<div class="col-lg-5 col-md-6 float-right wow" data-wow-offset="250">
						<div class="block-reveal">
							<div class="block-vertical"></div>
							<div class="box_1">
								<h3>Enjoy a great students community</h3>
								<p>Ius cu tamquam persequeris, eu veniam apeirian platonem qui, id aliquip voluptatibus pri. Ei mea primis
									ornatus disputationi. Menandri erroribus cu per, duo solet congue ut. </p>
								<a href="#0" class="btn_1 rounded">Read more</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--/call_section-->
		</main>
		<!-- /main -->

		<div th:replace="fragments/general.html :: footer"></div>
		<!--/footer-->
	</div>
	<!-- page -->

	<!-- COMMON SCRIPTS -->
	<script th:src="@{/js/jquery-2.2.4.min.js}"></script>
	<script th:src="@{/js/common_scripts.js}"></script>
	<script th:src="@{/js/main.js}"></script>
	<script th:src="@{/assets/validate.js}"></script>


	<script th:src="@{/layerslider/js/greensock.js}"></script>
	<script th:src="@{/layerslider/js/layerslider.transitions.js}"></script>
	<script th:src="@{/layerslider/js/layerslider.kreaturamedia.jquery.js}"></script>
	<script type="text/javascript">
		'use strict';
		$('#layerslider').layerSlider({
			autoStart: true,
			navButtons: false,
			navStartStop: false,
			showCircleTimer: false,
			responsive: true,
			responsiveUnder: 1280,
			layersContainer: 1200,
			skinsPath: 'layerslider/skins/'
			// Please make sure that you didn't forget to add a comma to the line endings
			// except the last line!
		});
	</script>

</body>

</html>